body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.doctor-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card button {
  background: #007bff;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form {
  margin-top: 30px;
  background: white;
  padding: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.form button {
  width: 100%;
  padding: 8px;
  background: green;
  color: white;
  border: none;
}
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
.light-theme{
  background:#f8fafc;
  color:#111;
}
.dark-theme{
  background:#020617;
  color:white;
}
.content{
  padding:40px;
  text-align:center;
}
.dark-theme .card{
  background:#1e293b;
  color:white;
}

.dark-theme .card p,
.dark-theme .card h2{
  color:white;
}
.dark-theme .form{
  background:#1e293b;
  color:white;
}
.dark-theme input,
.dark-theme select{
  background:#0f172a;
  color:white;
  border:1px solid #334155;
}
.dark-theme input::placeholder{
  color:#cbd5f5;
}
body, .card, .form, input, select{
  transition: all 0.3s ease;
}